body {
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Header Style Starts Here */

.banner-container {
  background-image: url('images/Banner\ Image.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 100px;
}

.header-banner {
  background-image: url('images/Rectangle\ 15.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
}

.header-text {
  padding: 100px 0;
}

.header-text h3 {
  color: #ffffff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.header-text h1 {
  color: #ffffff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2em;
}

/* Offer Area */

.offer-containter,
.offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 40px;
  text-align: center;
}

.offer-containter,
.offer-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.offer-containter,
.offer-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.offer-containter img {
  padding-top: 50px;
}

/* Party Area */

.party-container {
  background: url('images/Vectorrr.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 100px;
  display: flex;
  padding: 100px 0;
}

.party-text {
  padding-left: 100px;
}

.party-text h1 {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.party-text p {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.join {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.party-container .year-img {
  width: 20%;
  height: auto;
}

/* Place Area */
.place-area-container {
  background-image: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  margin: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 100px 0;
  margin-bottom: 100px;
}

.place-area-container .description {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.red-text {
  color: #f00;
}
.join-now {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;
  align-items: center;
  border-radius: 8px;
  background: #f00;
  border: none;
  text-decoration: none;
}

/* Coming Soon Area */
.comming-soon-container {
  margin: 100px 100px;
  display: flex;
}

.left-section h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.left-section h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 20px;
}
.left-section p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.middle-section img {
  align-items: center;
  width: 300px;
  padding: 40px 40px;
  border-radius: 500px;
  border: 15px solid #f00;
  margin: 0 50px;
}
.right-section h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}

.right-section p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

/* Sales Section */

.sales-section-container {
  margin: 100px 100px;
  text-align: center;
}

.sales-section-container h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.sales-section-container h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 20px;
}

.sales-section-container p {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 50px;
}
.sales-section-container .holiday {
  color: #f00;
}

.image-section {
  align-items: center;
  display: flex;
  margin: 100px 100px;
}

.left-item img {
  width: 400px;
}

.middle-item img {
  width: 200px;
  display: block;
  margin-right: -100px;
}

.right-item {
  background-image: url('images/Rectangle\ 1.png');
  padding: 200px;
  z-index: -10;
  border-radius: 10px;
}

.bottom-item img {
  width: 79%;
  align-items: center;
  margin: -106px 103px;
  display: flex;
}

.portfolion-section-container {
  margin: 200px 100px 0;
}

.portfolion-section-container h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}

.portfolion-section-container h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-bottom: 20px;
}

.portfolion-section-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  padding-bottom: 20px;
}

.image-gallery1 {
  display: flex;
  align-items: center;
  margin: 0 100px;
}

.image-gallery1 img {
  padding: 10px;
  width: 335px;
}

.image-gallery2 {
  display: flex;
  align-items: center;
  margin: 0 100px;
}

.image-gallery2 img {
  padding: 10px;
  width: 335px;
}

/* Subscribe Area */

.sub-area-container {
  background-image: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  margin: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 100px 0;
}

.sub-area-container {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  margin-bottom: 40px;
}

.sub-description h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.sub-description p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 0 170px;
}

input[type='email'] {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  padding: 10px 100px;
  border: none;
  background-color: #fff;
}

input[type='button'] {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 50px;
  border: none;
  background-color: #f00;
  margin-left: -20px;
}
