body {
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;

}

* {
  margin: 0;
  padding: 0;
}

/* Header Style Starts Here */


.banner-container {
  background-image: url('images/Banner\ Image.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 100px;
}

.header-banner {
  background-image: url('images/Rectangle\ 15.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
}



.header-text {
  padding: 100px 0;
}

.header-text h3 {
  color: #ffffff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;

}

.header-text h1 {
  color: #ffffff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2em;
}

/* Offer Area */

.offer-containter,
.offer-title {
  color: #F00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 40px;
  text-align: center;


}

.offer-containter,
.offer-text {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.offer-containter,
.offer-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: center;

}

.offer-containter img {
  padding-top: 50px;
}

/* Party Area */


.party-container {
  background: url('images/Vectorrr.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 100px;
  display: flex;
  padding: 100px 0;
}

.party-text {
  padding-left: 100px;
}

.party-text h1 {
  width: 642px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;



}

.party-text p {
  width: 697px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}

.join {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.party-container .year-img {
  width: 20%;
  height: auto;
}

/* Place Area */
.place-area-container {
  background-color: bisque;
  margin: 100px;
  text-align: center;
  border-radius:10px ;
  padding: 100px 0;

}

.place-area-container .description {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;


}

.red-text {
  color: #F00;

}

.join-now {
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
padding: 16px 32px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #F00;
border: none;
margin-top: 40px;

}